<app-header title="DateTime"></app-header>

<ion-content [fullscreen]="true">
  <app-large-title title="DateTime"></app-large-title>

  <ion-list>

    <ion-list-header>
      <ion-label>Datos de Nacimiento</ion-label>
    </ion-list-header>

    <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
     <ion-datetime presentation="date"
                   preferWheel="true"
                   [value]="fechaNaci.toISOString()"
                   display-format="YYYY MMMM DD"
                   (ionChange)="cambioFecha( $event )"></ion-datetime>
    </ion-item>


    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>

    <ion-item>
    <ion-label>Mín y Max</ion-label>
     <ion-datetime
                   presentation="date"
                   preferWheel="true"
                   display-format="YYYY MMMM DD"
                   min="2015-01-01"
                   max="2025-12-31"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Años</ion-label>
      <ion-datetime
                   presentation="date"
                   preferWheel="true"
                   display-format="YYYY"
                   min="2020"
                   max="2026"></ion-datetime>
    </ion-item>

  </ion-list>



</ion-content>
