<app-header title="grid"></app-header>

<ion-content [fullscreen]="true">
  <app-large-title title="grid"></app-large-title>

  <ion-grid fixed="true">
    <ion-row>
      @for (item of [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]; track $index) {
        <ion-col size="12" sizeLg="3" sizeMd="4" sizeSm="6">
          <ion-card>
            <ion-img src="/assets/stan-lee.jpg">
            </ion-img>
          </ion-card>

          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quod sequi, ullam illo, perferendis iusto inventore quia rerum adipisci, ipsa animi dolorem odio voluptas.
            Facere odit, maxime quaerat qui exercitationem minus.
          </ion-card-content>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
