<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">Segment</ion-title>
  </ion-toolbar>

  <!-- Ions segments -->
  <ion-segment value="todos" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="DC Comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content [fullscreen]="true">
  <app-large-title title="segment"></app-large-title>

  <ion-list>


    @for (heroe of ((superHeroes | async) || []) | filtro: publisher : 'publisher'; track heroe) {
      <ion-item class="animate__animated animate__fadeIn animate__faster">
        <ion-label>
          <h3>{{ heroe.superhero }} <small>{{ heroe.alter_ego }}</small></h3>
          <p>{{ heroe.first_appearance }}</p>
        </ion-label>

        <ion-label slot="end" class="ion-text-right">
          {{ heroe.publisher }}
        </ion-label>
      </ion-item>
    }

    <!-- If the observable is equals null -->
     @if ( (superHeroes | async) === null ) {
       @for (item of [1, 1, 1, 1, 1]; track $index) {
       <ion-list>
           <ion-item>
             <ion-label>
               <h3>
                 <!-- Animation of the info h3 -->
                 <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
               </h3>
               <p>
                 <!-- Animation of the info p -->
                 <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
               </p>
             </ion-label>

             <ion-skeleton-text slot="end" animated style="width: 50px; height: 50px;"></ion-skeleton-text>

           </ion-item>
          </ion-list>
        }
     }


  </ion-list>
</ion-content>

