<app-header title="refresher"></app-header>

<ion-content [fullscreen]="true">
  <app-large-title title="refresher"></app-large-title>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <!--  -->
    @for (item of items; track $index) {
      <ion-item class="animate__animated animate__fadeIn">
        <ion-label>Item {{ $index + 1 }} </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
