<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Recorremos el objeto de componentes -->
    @for (c of componentes; track c.name) {
      <!-- Redireccionamos -->
      <ion-item [routerLink]="c.redirectTo"
                detail="true">
        <ion-icon
          [name]="c.icon"
          slot="start"
          color="primary"> </ion-icon>

        {{ c.name }}
      </ion-item>
    }
  </ion-list>
</ion-content>
