<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <!-- The hard way -->
    <!-- <ion-buttons slot="start">
      <ion-button (click)="showMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->


    <ion-title color="primary">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-large-title title="inicio"></app-large-title>

  <ion-list>
    <!-- Recorremos el objeto de componentes -->
    @for (c of componentes | async; track c.name) {
      <!-- Redireccionamos -->
      <ion-item [routerLink]="c.redirectTo"
                detail="true">
        <ion-icon
          [name]="c.icon"
          slot="start"
          color="primary"> </ion-icon>
        {{ c.name }}
      </ion-item>
    }
  </ion-list>
</ion-content>
