<ion-header [translucent]="true">
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/stan-lee.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-large-title title="Avatar"></app-large-title>

  <!-- Chips clonados -->
  @for (chip of chips; track chip.label) {
    <ion-chip color="primary" [outline]="true">
      <ion-avatar>
        <img [src]="chip.img" />
      </ion-avatar>
      <ion-label>{{ chip.label }}</ion-label>
    </ion-chip>
  }

  <!-- Lista de items con avatar -->
  <ion-list>
    @for (person of people; track person.name) {
      <ion-item>
        <ion-avatar slot="end">
          <ion-img [src]="person.img" />
        </ion-avatar>
        <ion-label>{{ person.name }}</ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>

