<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ nombre }} - {{ pais }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-large-title title="{{ nombre }} - {{ pais }}"></app-large-title>

  <ion-button (click)="exitWithNoArguments()" expand="block" shape="default">
    Cerrar Modal (sin argumentos)
  </ion-button>

  <ion-button (click)="exitWithArguments()" expand="block" shape="default">
    Cerrar Modal (con argumentos)
  </ion-button>
</ion-content>
